 body {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url("https://www.ultimatefoodarticle.com/images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#customers{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) ,url("https://www.ultimatefoodarticle.com/images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding: 90px;
    font-size: 17px;

}

.navbar-nav .nav-item .nav-link{
    color: white;
    background: red;
}

.heading{
    position: absolute;
    color: white;
    top: 350px;
    right: 570px;
    left: 570px
}

#getfood
{
    font-size: 17px;
    line-height: 25px;
    
    background-color:rgb(239, 241, 243) ;
}
span{
    font-size: 180px;
    
}
.nicole{
    border-radius: 999px;
}

#month
{
    font-size: 25px;
}
#price,#howit{
    background-color: rgb(239, 241, 243);
}
#paise1,#paise2,#paise3{
    font-size: 55px;
    color: orange;
}